*{
  margin:0px;
  padding: 0px;
}
.frameset{
  width: 100%;
  display: flex;
  position: absolute;
}
.adjustcenter{
  position: absolute;
  top:25%;
}
.adjustfront{
  position: absolute;
  top:10%;
}
.adjustcloud{
  width:60% !important;
  z-index: 1px;
  opacity: 0.5;
}
.adjustcloud1{
  width:50% !important;
  left: 70%;
  top: 4%;
  z-index: 1px;
  opacity: 0.5;
}
.newalign{
  left: 99.8%;
}
.setMainObj{
  width: 40%;
  bottom: 0%;
  left: 50%;
  z-index: 1;
}
.setkiller{
  left: -5%;
  bottom:-5%;
  z-index: 1;
}
.color_adjust{
  width: 30%;
  /* height: 102.5%; */
  /* background-color: rgb(61, 61, 61); */
  z-index: -10px !important;
  /* opacity: 0.2; */
  
}
.color_adjust button{
  padding: 3%;
  font-size: 15px;
  margin-top: 50%;
  box-shadow: 0px 0px 15px black;
  opacity: 0.5;
  margin-left: 2%;
}
.setCowpower{
  top:75%;
  position: absolute;
  left: 65%;
  width: 5%;
  z-index: 50px !important;
}
.message{
  text-align: center;
  left: 37%;
  top: 10%;
  position: absolute;
  color: white;
  text-shadow: 0px 0px 25px white;
  font-size: 20px;
}
.message h4{
  color:rgb(20, 14, 53);
  font-size: 22px;
}